.clipped-card {
  width: 260px;
  height: 260px;
  position: relative;
  

  /* 🔥 GLASS EFFECT */
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  border: 1px solid rgba(255, 255, 255, 0.06);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 0 20px rgba(255, 255, 255, 0.03);


  overflow: hidden;
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.clipped-card:hover {
  transform: scale(1.03);
}

/* Glow effect */
.glow-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 150%;
  height: 60%;

  background: radial-gradient(
    circle,
    rgba(168, 85, 247, 0.4) 0%,
    rgba(168, 85, 247, 0) 70%
  );

  filter: blur(30px);
  pointer-events: none;
}
.card-column {
  display: flex;
  padding-top: 20px;
  justify-content: center; 
  gap: 80px;/* biar center */
  flex-wrap: wrap; /* 🔥 biar turun kalau layar kecil */
}